@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the contract monthly claim system</h1>
    <p class="lead">This is your professional claim management system.</p>

    <!-- You can add more content here, like information about the app or instructions -->

   
</div>
